@model IEnumerable<SCF.Models.Fornecedor>

<h2>Fornecedores</h2>

<p>
    <a asp-action="CriarFornecedor" class="btn btn-info">Cadastrar Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastradoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadastradoEm)
            </td>
            <td>
                <a asp-action="AtualizarFornecedor" asp-route-id="@item.FornecedorId" class="btn btn-primary">Editar</a> |
                <a asp-action="ExcluirFornecedor" asp-route-id="@item.FornecedorId" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
